# Hugo folders to ignore
public/**
/node_modules/
resources/_gen/**

# Visual Studio Code
.vscode/    # project metadata
.history/   # local history

.DS_Store

# other miscellaneous build and project directories
.*/

*.txt # information to me only
